<template>
  <div class="google-map" :id="mapName"></div>
</template>

<script>
  export default {
    name: 'google-map',
    props: ['name', 'markers'],
    data () {
      return {
        mapName: this.name + '-map',
        markerCoordinates: this.markers,
        map: null,
        bounds: null
      }
    },
    mounted () {
      this.bounds = new google.maps.LatLngBounds()
      const element = document.getElementById(this.mapName)
      let mapCentre = {}
      if (this.markerCoordinates) {
        mapCentre = this.markerCoordinates[0]
      } else {
        mapCentre = {
          latitude: 59.3258414,
          longitude: 17.70188
        }
      }
      const options = {
        center: new google.maps.LatLng(mapCentre.latitude, mapCentre.longitude),
        zoom: 8
      }
      this.map = new google.maps.Map(element, options)
    },
    computed: {
      makeMarkers () {
        this.markerCoordinates.forEach((coord) => {
          const position = new google.maps.LatLng(coord.latitude, coord.longitude)
          const marker = new google.maps.Marker({
            position,
            map: this.map
          })
          this.markers.push(marker)
          this.map.fitBounds(this.bounds.extend(position))
        })
      }
    },
    watch: {
      markers: function () {
        this.markerCoordinates = this.markers
      }
    }
  }
</script>

<style scoped>
  .google-map {
    width: 800px;
    height: 250px;
    margin: 0 auto;
    background: gray;
  }
</style>
