<template>
  <v-container>
    <v-layout row class="mt-4">
      <h2 class="display-2">{{user.firstName}}</h2>
    </v-layout>
    <v-layout row wrap>
      <v-flex sm2>
        <v-avatar slot="activator" size="100px" class="teal mr-3 ml-3">
          <img v-if="user.photoURL" :src="user.photoURL"/>
        </v-avatar>
      </v-flex>
      <v-flex>
        <p class="subheading">Email Address: {{ user.email }}</p>
        <p class="subheading">Attending Meetups: {{ user.registeredMeetups.length }}</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
  export default {
    computed: {
      user () {
        return this.$store.getters.user
      }
    }
  }
</script>

<style>
  image {
    width: 400px;
    height: 400px;
  }
</style>
