<template>
  <v-container>
    <v-layout row v-if="error">
      <v-flex xs12 sm6 offset-sm3>
        <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 sm8 md4 offset-sm2 offset-md4>
        <v-card class="mt-5">
          <v-card-title class="display-1">Sign In</v-card-title>
          <v-container>
            <v-layout>
              <v-flex>
                <v-btn class="ml-0" @click.native="googleSignUp" :disabled="loading" :loading="loading">
                  Sign In With Google
                  <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                </v-btn>
                <v-divider class="mt-3"></v-divider>
                <v-form @submit.prevent="onSignIn">
                  <v-text-field
                    prepend-icon="email"
                    name="email"
                    label="Email"
                    autofocus
                    required
                    v-model="email"
                    type="email"
                    :rules="[rules.required, rules.email]"></v-text-field>
                  <v-text-field
                    prepend-icon="vpn_key"
                    name="password"
                    label="Password"
                    v-model="password"
                    :append-icon="passVisible ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (passVisible = !passVisible)"
                    :type="passVisible ? 'password' : 'text'"></v-text-field>
                  <v-btn type="submit" class="ml-0" primary :disabled="loading" :loading="loading">
                    Sign In
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                  </v-btn>
                </v-form>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        email: '',
        password: '',
        passVisible: true,
        rules: {
          required: (value) => !!value || 'Required.',
          email: (value) => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Invalid e-mail.'
          }
        }
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      },
      error () {
        return this.$store.getters.error
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      onSignIn () {
        this.$store.dispatch('signUserIn', {email: this.email, password: this.password})
      },
      onDismissed () {
        this.$store.dispatch('clearError')
      },
      googleSignUp () {
        this.$store.dispatch('googleSignUp')
      }
    }
  }
</script>

