<template>
  <v-container>
    <v-layout row v-if="error">
      <v-flex xs12 sm6 offset-sm3>
        <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 sm8 md6 offset-sm2 offset-md3>
        <v-card class="mt-4">
          <v-card-title class="display-1">Sign Up</v-card-title>
          <v-container>
            <v-layout>
              <v-flex>
                <v-btn class="ml-0" @click.prevent="googleSignUp" :disabled="loading" :loading="loading">
                  Sign Up With Google
                  <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                </v-btn>
                <v-divider class="mt-4"></v-divider>
                <v-form @submit.prevent="onSignup">
                  <v-text-field
                    prepend-icon="email"
                    name="email"
                    label="Email"
                    required
                    autofocus
                    v-model="email"
                    type="email"
                    :rules="[rules.required, rules.email]"></v-text-field>
                  <v-text-field
                    prepend-icon="account_circle"
                    name="firstName"
                    label="First Name"
                    required
                    v-model="firstName"
                    type="text"
                    :rules="[rules.required]"></v-text-field>
                  <v-flex class="mb-3 mt-3">
                    <v-btn flat class="ml-3" @click="onPickFile">
                      <v-icon left>file_upload</v-icon>
                      Upload Profile Picture
                    </v-btn>
                    <input
                      type="file"
                      style="display: none"
                      accept="image/*"
                      ref="fileInput"
                      @change="onFilePicked">
                    <v-avatar class="teal" v-if="imageUrl">
                      <img :src="imageUrl">
                    </v-avatar>
                  </v-flex>
                  <v-text-field
                    prepend-icon="vpn_key"
                    name="password"
                    label="Password"
                    hint="At least 8 characters"
                    min="8"
                    v-model="password"
                    :append-icon="passVisible ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (passVisible = !passVisible)"
                    :type="passVisible ? 'password' : 'text'"></v-text-field>
                  <v-text-field
                    prepend-icon="vpn_key"
                    name="confirmPassword"
                    label="Confirm Password"
                    v-model="confirmPassword"
                    :append-icon="confPassVisible ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (confPassVisible = !confPassVisible)"
                    :type="confPassVisible ? 'password' : 'text'"
                    :rules="[comparePasswords]"></v-text-field>
                  <v-btn type="submit" class="ml-0" primary :disabled="loading" :loading="loading">
                    Get started
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                  </v-btn>
                </v-form>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        email: '',
        firstName: '',
        password: '',
        confirmPassword: '',
        passVisible: true,
        confPassVisible: true,
        imageUrl: '',
        image: null,
        rules: {
          required: (value) => !!value || 'Required.',
          email: (value) => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Invalid e-mail.'
          }
        }
      }
    },
    computed: {
      comparePasswords () {
        return this.password !== this.confirmPassword ? 'Passwords do not match' : ''
      },
      user () {
        return this.$store.getters.user
      },
      error () {
        return this.$store.getters.error
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      onSignup () {
        this.$store.dispatch('signUserUp', {email: this.email, firstName: this.firstName, image: this.image, password: this.password})
      },
      onDismissed () {
        this.$store.dispatch('clearError')
      },
      googleSignUp () {
        this.$store.dispatch('googleSignUp')
      },
      onPickFile () {
        this.$refs.fileInput.click()
      },
      onFilePicked (event) {
        const files = event.target.files
        let filename = files[0].name
        if (filename.lastIndexOf('.') <= 0) {
          return alert('Please add a valid file!')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.imageUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
      }
    }
  }
</script>

