/** Stylus Styles */
@import './custom'

@require '../../node_modules/vuetify/src/stylus/settings/_theme'

$theme := {
  primary: $teal.lighten-1 !important
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main'



.display-4, .display-3, .display-2, .display-1
  font-family: 'Racing Sans One', cursive;
  text-transform: uppercase;


