<template>
  <v-container fluid class="pt-0 pl-0 pr-0">
    <v-layout>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
          indeterminate
          class="primary--text"
          :width="3"
          :size="70"
          v-if="loading"></v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout>
      <div class="CoverImageHome">
        <v-container class="hero">
          <v-layout row align-end class="hero">
            <v-flex>
              <h1 class="text-sm-left display-4 mb-0">Get active.</h1>
              <h3 class="text-sm-left">Join sport events near you now.</h3>
              <v-btn large primary to="/meetups">See Events</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  computed: {
    meetups () {
      return this.$store.getters.featuredMeetups
    },
    loading () {
      return this.$store.getters.loading
    }
  }
}
</script>

<style>
  .CoverImageHome {
    width: 100%;
    height: 90vh;
    background:
      linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5)
      ),
      url(https://firebasestorage.googleapis.com/v0/b/speedup-portfolio-app.appspot.com/o/home%2Falexander-redl-185764.jpg?alt=media&token=2665b731-a193-4b27-889c-d5bb6d4eae58) no-repeat center/cover;
  }
  .hero {
    height: 100%;
  }
  h1, h3 {
    color: white;
    text-shadow: #000000;
  }
</style>
