<template>
  <v-dialog persistent v-model="registerDialog">
    <v-btn floating large primary slot="activator">
      {{ userIsRegistered ? 'Unregister' : 'Register' }}
    </v-btn>
    <v-card>
      <v-card-title v-if="userIsRegistered">Unregister from Meetup?</v-card-title>
      <v-card-title v-else>Register for Meetup?</v-card-title>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn flat @click.native="registerDialog = false">Cancel</v-btn>
        <v-btn v-if="userIsRegistered" error @click="onAgree">Unregister</v-btn>
        <v-btn primary @click="onAgree" v-if="!userIsRegistered">Register</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: ['meetupId'],
    data () {
      return {
        registerDialog: false
      }
    },
    computed: {
      userIsRegistered () {
        return this.$store.getters.user.registeredMeetups.findIndex(meetupId => {
          return meetupId === this.meetupId
        }) >= 0
      }
    },
    methods: {
      onAgree () {
        if (this.userIsRegistered) {
          this.$store.dispatch('unregisterUserForMeetup', this.meetupId)
        } else {
          this.$store.dispatch('registerUserForMeetup', this.meetupId)
        }
      }
    }
  }
</script>
