<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 md6 class="mt-2">
        <v-layout row justify-space-between align-center wrap>
          <v-flex><h5 class="display-1 mb-0">Create new SpeedUp</h5></v-flex>
          <v-flex sm3 class="text-xs-right">
            <v-btn class="primary mr-0" @click="onPickFile">Upload Image</v-btn>
            <input
              type="file"
              style="display: none"
              accept="image/*"
              ref="fileInput"
              @change="onFilePicked"
            >
          </v-flex>
        </v-layout>
        <v-form ref="form" @submit.prevent="onCreateMeetup">
          <v-text-field name="title" label="Title" v-model="title" required></v-text-field>
          <div class="input-group input-group--required input-group--text-field">
            <div class="input-group__input">
              <!--<label>Enter Location</label>-->
              <GmapAutocomplete
                @place_changed="getAddressData"
                id="map"
                classname="form-control"
                placeholder="Enter Location">
              </GmapAutocomplete>
              <!--<google-autocomplete-->
                <!--id="map"-->
                <!--classname="form-control"-->
                <!--placeholder="Enter Location"-->
                <!--types="cities"-->
                <!--v-on:placechanged="getAddressData"-->
              <!--&gt;</google-autocomplete>-->
            </div>
            <div class="input-group__details">
              <div class="input-group__messages"></div>
            </div>
          </div>
          <v-layout row wrap justify-space-between>
            <v-flex sm5>
              <v-menu
                lazy
                :close-on-content-click="false"
                v-model="dateMenu"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-left="40"
                max-width="290px"
              >
                <v-text-field
                  slot="activator"
                  label="Pick a date"
                  v-model="datePretty"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="date" no-title scrollable actions>
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex sm5>
              <v-menu
                lazy
                :close-on-content-click="false"
                v-model="timeMenu"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-left="40"
                max-width="290px"
              >
                <v-text-field
                  slot="activator"
                  label="Pick a time"
                  v-model="timePretty"
                  prepend-icon="schedule"
                  readonly
                ></v-text-field>
                <v-time-picker v-model="time" format="24hr" no-title scrollable actions>
                  <template scope="{ save, cancel }">
                    <v-card-actions>
                      <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                      <v-btn flat primary @click.native="save()">Save</v-btn>
                    </v-card-actions>
                  </template>
                </v-time-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <v-layout row class="mt-2 mb-2">
            <v-btn-toggle v-model="category">
              <v-btn flat large class="pr-4">
                <v-icon left>mdi-run</v-icon>
                <span>Running</span>
              </v-btn>
              <v-btn flat large class="pr-4">
                <v-icon left>mdi-bike</v-icon>
                <span>Biking</span>
              </v-btn>
              <v-btn flat large class="pr-4">
                <v-icon left>mdi-yin-yang</v-icon>
                <span>Yoga</span>
              </v-btn>
              <v-btn flat large class="pr-4">
                <v-icon left>mdi-human-handsup</v-icon>
                <span>Crossfit</span>
              </v-btn>
            </v-btn-toggle>
          </v-layout>
          <v-text-field
            name="description"
            label="Description"
            v-model="description"
            multi-line required>
          </v-text-field>
          <v-btn error flat to="/">Cancel</v-btn>
          <v-btn type="submit" secondary :disabled="!formIsValid">Create Event</v-btn>
        </v-form>
      </v-flex>
      <v-flex xs12 md5 offset-md1 class="mt-2">
        <v-layout row>
          <div class="imagePreviewContainer">
            <gmap-map :center="this.center" :zoom="11" style="width: 100%; height: 250px">
              <gmap-marker
                :key="index"
                v-for="(marker, index) in markers"
                :position="marker"
                :clickable="true"
                :draggable="true"
                @click="center=marker.position">
              </gmap-marker>
            </gmap-map>
          </div>
        </v-layout>
        <v-layout row justify-center class="mt-4">
          <div class="imagePreviewContainer">
            <img :src="imageUrl" class="imagePreview">
          </div>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import VueGoogleAutocomplete from 'vue-google-autocomplete'

  export default {
    components: {
      'google-autocomplete': VueGoogleAutocomplete
    },
    data () {
      return {
        title: '',
        location: {
          coordinates: {
            lat: '',
            lng: ''
          },
          formatted: ''
        },
        imageUrl: '',
        category: undefined,
        description: '',
        date: new Date(),
        time: new Date(),
        image: null,
        dateMenu: false,
        timeMenu: false,
        markers: undefined,
        center: {lat: 59.3258414, lng: 17.70188}
      }
    },
    computed: {
      formatDateTime () {
        const date = new Date(this.date)
        if (typeof this.time === 'string') {
          const hours = this.time.match(/^(\d+)/)[1]
          const minutes = this.time.match(/:(\d+)/)[1]
          date.setHours(hours)
          date.setMinutes(minutes)
          return date
        } else {
          date.setHours(this.time.getHours)
          date.setMinutes(this.time.getMinutes)
          return date
        }
      },
      formIsValid () {
        return this.title !== '' && this.location !== '' && this.imageUrl !== '' && this.description !== ''
      },
      timePretty () {
        return this.time.toLocaleString(['en-US'], {hour: '2-digit', minute: '2-digit'})
      },
      datePretty () {
        return this.date.toLocaleString(['en-US'], {month: 'short', day: '2-digit', year: 'numeric'})
      }
    },
    methods: {
      onCreateMeetup () {
        if (this.formIsValid) {
          let sportType = ''
          let sportTypeIcon = ''
          if (this.category === 0) {
            sportType = 'Running'
            sportTypeIcon = 'mdi-run'
          } else if (this.category === 1) {
            sportType = 'Biking'
            sportTypeIcon = 'mdi-bike'
          } else if (this.category === 2) {
            sportType = 'Yoga'
            sportTypeIcon = 'mdi-yin-yang'
          } else if (this.category === 3) {
            sportType = 'Crossfit'
            sportTypeIcon = 'mdi-human-handsup'
          }
          const meetupData = {
            title: this.title,
            location: this.location,
            image: this.image,
            description: this.description,
            date: this.formatDateTime,
            sportType: sportType,
            sportTypeIcon: sportTypeIcon
          }
          console.log(meetupData)
          this.$store.dispatch('createMeetup', meetupData)
            .then(this.$router.push('/meetups'))
        }
      },
      onPickFile () {
        this.$refs.fileInput.click()
      },
      onFilePicked (event) {
        const files = event.target.files
        let filename = files[0].name
        if (filename.lastIndexOf('.') <= 0) {
          return alert('Please add a valid file!')
        }
        const fileReader = new FileReader()
        fileReader.addEventListener('load', () => {
          this.imageUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.image = files[0]
      },
      getAddressData (addressData) {
        this.location.formatted = addressData.formatted_address
        this.location.coordinates.lat = addressData.geometry.location.lat()
        this.location.coordinates.lng = addressData.geometry.location.lng()
        this.markers = [
          {
            lat: addressData.geometry.location.lat(),
            lng: addressData.geometry.location.lng()
          }
        ]
      }
    },
    watch: {
      markers () {
        if (this.markers[0]) { this.center = this.markers[0] }
      }
    }
  }
</script>

<style>
  .imagePreviewContainer {
    width: 800px;
    height: 250px;
    margin: 0 auto;
    background: gray;
  }

  .imagePreview {
    max-width: 100%;
    object-fit: contain;
  }
</style>
