<template>
  <v-container fluid class="pt-0 pl-0 pr-0">
    <v-layout v-if="loading" row wrap>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
          indetermined
          class="primary--text"
          :width="7"
          :size="70"
        ></v-progress-circular>
      </v-flex>
    </v-layout>
    <div v-if="!loading" class="CoverImage" v-bind:style="{ backgroundImage: 'url(' + meetup.imageUrl + ')' }"></div>
    <v-container>
      <v-layout row v-if="!loading" class="pt-3" wrap>
        <v-flex sm8>
          <v-flex sm12><h5 class="display-1">{{ meetup.title }}</h5></v-flex>
          <app-edit-meetup-details v-if="userIsCreator" :meetup="meetup"></app-edit-meetup-details>
          <v-layout row wrap>
            <v-flex sm4>
              <span class="subheading text-md-right"> {{ meetup.date | date }} , {{ meetup.date | time }}</span>
            </v-flex>
          </v-layout>
          <app-edit-meetup-date v-if="userIsCreator" :meetup="meetup"></app-edit-meetup-date>
          <app-edit-meetup-time v-if="userIsCreator" :meetup="meetup"></app-edit-meetup-time>
          <p class="body mt-4 pr-5"> {{ meetup.description }}</p>
        </v-flex>
        <v-flex sm4 column class="text-xs-right">
          <app-meetup-register v-if="userIsAuthenticated && !userIsCreator" :meetupId="meetup.id"></app-meetup-register>
          <h2 class="headline mt-4">{{ meetup.location.formatted }}</h2>
          <gmap-map :center="meetup.location.coordinates" :zoom="11" style="width: 100%; height: 200px">
            <gmap-marker
              :position="meetup.location.coordinates"
              :clickable="true"
              :draggable="true"
            >
            </gmap-marker>
          </gmap-map>
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
  export default {
    props: ['id'],
    computed: {
      meetup () {
        return this.$store.getters.loadedMeetup(this.id)
      },
      userIsAuthenticated () {
        return this.$store.getters.user !== null && this.$store.getters.user !== undefined
      },
      userIsCreator () {
        if (!this.userIsAuthenticated) {
          return false
        }
        return this.$store.getters.user.id === this.meetup.creatorId
      },
      loading () {
        return this.$store.getters.loading
      }
    }
  }
</script>

<style>
  .CoverImage {
    width: 100%;
    height: 65vh;
    background: no-repeat center/cover;
  }
</style>
