<template>
  <v-container grid-list-md fluid>
    <v-layout row wrap>
      <v-flex xs12 sm6 md4 v-for="meetup in meetups" :key="meetup.id">
        <v-card>
          <v-card-media height="200px" :src="meetup.imageUrl">
          </v-card-media>
          <v-card-title>
            <v-layout row>
              <v-flex>
                <span>{{ meetup.title }}</span>
                <p class="grey--text">{{ meetup.date | date }}</p>
              </v-flex>
              <v-flex class="text-xs-right">
                <v-icon >{{ meetup.sportTypeIcon }}</v-icon>
                <span>{{ meetup.sportType }}</span>
              </v-flex>
            </v-layout>
          </v-card-title>
          <v-card-actions>
            <v-btn :to="'/meetups/' + meetup.id">See Event</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  computed: {
    meetups () {
      return this.$store.getters.loadedMeetups
    }
  }
}
</script>

