<template>
  <v-dialog persistent width="500" v-model="editDialog">
    <v-btn floating accent slot="activator">
      Edit Date
    </v-btn>
    <v-card>
      <v-card-title>Edit Meetup Date</v-card-title>
      <v-divider></v-divider>
      <v-date-picker v-model="editDate" actions>
        <template scope="{save, cancel}">
          <v-btn @click.native="editDialog = false">Cancel</v-btn>
          <v-btn primary @click.native="onSaveChanges">Save</v-btn>
        </template>
      </v-date-picker>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: ['meetup'],
    data () {
      return {
        editDialog: false,
        editDate: null
      }
    },
    methods: {
      onSaveChanges () {
        const newDate = new Date(this.meetup.date)
        const newDay = new Date(this.editDate).getUTCDate()
        const newMonth = new Date(this.editDate).getUTCMonth()
        const newYear = new Date(this.editDate).getUTCFullYear()
        newDate.setUTCDate(newDay)
        newDate.setUTCMonth(newMonth)
        newDate.setUTCFullYear(newYear)
        this.$store.dispatch('updateMeetupData', {
          id: this.meetup.id,
          date: newDate
        })
      }
    },
    created () {
      this.editDate = new Date(this.meetup.date)
    }
  }
</script>
