<template>
  <v-dialog persistent width="500" v-model="editDialog">
    <v-btn floating accent slot="activator">
      Edit Meetup
    </v-btn>
    <v-card>
      <v-card-title>Edit Meetup</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-text-field
          name="title"
          label="Title"
          required
          v-model="editedTitle">
        </v-text-field>
        <v-text-field
          name="description"
          label="Description"
          multi-line required
          v-model="editedDescription">
        </v-text-field>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn flat @click="editDialog = false">Cancel</v-btn>
        <v-btn primary @click="onSaveChanges">Confirm Changes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: ['meetup'],
    data () {
      return {
        editDialog: false,
        editedTitle: this.meetup.title,
        editedDescription: this.meetup.description
      }
    },
    methods: {
      onSaveChanges () {
        if (this.editedTitle.trim() === '' || this.editedDescription.trim() === '') {
          return
        }
        this.editDialog = false
        this.$store.dispatch('updateMeetupData', {
          id: this.meetup.id,
          title: this.editedTitle,
          description: this.editedDescription
        })
      }
    }
  }
</script>
