<template>
  <v-dialog persistent width="500" v-model="editDialog">
    <v-btn floating accent slot="activator">
      Edit Time
    </v-btn>
    <v-card>
      <v-card-title>Edit Meetup Date</v-card-title>
      <v-divider></v-divider>
      <v-time-picker v-model="editTime" actions format="24hr">
        <template scope="{save, cancel}">
          <v-btn @click.native="editDialog = false">Cancel</v-btn>
          <v-btn primary @click.native="onSaveChanges">Save</v-btn>
        </template>
      </v-time-picker>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: ['meetup'],
    data () {
      return {
        editDialog: false,
        editTime: null
      }
    },
    methods: {
      onSaveChanges () {
        const newDate = new Date(this.meetup.date)
        const hours = this.editTime.match(/^(\d+)/)[1]
        const minutes = this.editTime.match(/:(\d+)/)[1]
        newDate.setHours(hours)
        newDate.setMinutes(minutes)
        this.$store.dispatch('updateMeetupData', {
          id: this.meetup.id,
          date: newDate
        })
      }
    },
    created () {
      this.editTime = new Date(this.meetup.date).toTimeString()
    }
  }
</script>
